:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --section-cover-title: #ff0070;
  --title-color: #db00ff;
  --card-bg-color: #ff007066;
  --shadow-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
  }

  .header__theme-menu-button:focus-visible {
    outline-offset: 1px solid var(--accent-color, #ff0070);
  }

  .article-text .accent-decor:focus-visible {
    outline: 1px solid var(--text-color, #f1b2ce);
  }

  .header__theme-menu-list
    .header__theme-menu-item
    .header__theme-menu-button:hover {
    border: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
  }
}

:root.theme-dark
  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
}

:root.theme-dark .header__theme-menu-button:focus {
  outline-offset: 1px solid var(--accent-color, #ff0070);
}

:root.theme-dark .article-text .accent-decor:focus {
  outline: 1px solid var(--text-color, #f1b2ce);
}

:root.theme-dark .header__theme-menu-item .header__theme-menu-button {
  color: #ff0070;
}

:root.theme-dark .header__theme-menu-item .header__theme-menu-button:active {
  border: 1px solid #ff0070;
}

:root.theme-dark
  .header__theme-menu-list
  .header__theme-menu-item
  .header__theme-menu-button:focus {
  border-bottom: 1px solid #ff0070;
}

:root.theme-dark
  .header__theme-menu-list
  .header__theme-menu-item
  .header__theme-menu-button:hover {
  border: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
}

:root.theme-dark .decorated-zone::before {
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}

:root.theme-dark .decorated-zone::after {
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
}

:root.theme-dark .title-decor {
  color: var(--bg-color, #000028);
}

:root.theme-dark .accent-decor:hover {
  border-bottom: 2px solid #ff0070;
}

:root.theme-dark .header__theme-menu-button_active {
    border: 1px solid #ff0070;
}
