:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --section-cover-title: #353430;
  --title-color: #ffc2e6;
  --card-bg-color: #ff007066;
  --shadow-color: #ff8dcb;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --section-cover-title: #353430;
    --title-color: #ffc2e6;
    --card-bg-color: #ff007066;
    --shadow-color: #ff8dcb;
    --hover-color: rgba(255, 0, 112, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }

  .decorated-zone::before {
    border-block-start: 1px solid var(--text-color, #353430);
    border-inline-end: 1px solid var(--text-color, #353430);
  }

  .decorated-zone::after {
    border-block-end: 1px solid var(--text-color, #353430);
    border-inline-start: 1px solid var(--text-color, #353430);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-colorr, #353430);
  }

  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--text-color, #353430);
  }

  .header__theme-menu-list .header__theme-menu-item .header__theme-menu-button {
    color: var(--text-colorr, #353430);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .header__theme-menu-list
    .header__theme-menu-item
    .header__theme-menu-button:hover {
    border: 1px solid var(--section-cover-title, #353430);
  }
}

:root.theme-light
  .header__theme-menu-list
  .header__theme-menu-item
  .header__theme-menu-button:hover {
  border: 1px solid var(--section-cover-title, #353430);
}

:root.theme-light .decorated-zone::before {
  border-block-start: 1px solid var(--text-color, #353430);
  border-inline-end: 1px solid var(--text-color, #353430);
}

:root.theme-light .decorated-zone::after {
  border-block-end: 1px solid var(--text-color, #353430);
  border-inline-start: 1px solid var(--text-color, #353430);
}

:root.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text-colorr, #353430);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--text-color, #353430);
}

:root.theme-light .header__rec {
  display: none;
}

:root.theme-light
  .header__theme-menu-list
  .header__theme-menu-item
  .header__theme-menu-button {
  color: var(--text-colorr, #353430);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
